<div class="p-4 flex flex-col flex-grow">
  <div class="p-4 rounded-lg dark:border-gray-700 flex flex-col flex-grow">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-semibold text-gray-700">Orders</h2>
      <button (click)="showAddOrderForm = !showAddOrderForm" class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-700">
        {{ showAddOrderForm ? 'Hide Form' : 'Add Order' }}
      </button>
    </div>

    <div *ngIf="showAddOrderForm" class="mb-4">
      <form [formGroup]="orderForm" (ngSubmit)="createOrder()">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
          <select formControlName="customerId" required class="p-2 border rounded w-full">
            <option value="" disabled>Select Customer</option>
            <option *ngFor="let customer of customers" [value]="customer.id">{{ customer.firstName }} {{ customer.lastName }}</option>
          </select>
          <div *ngIf="orderForm.controls['customerId'].invalid && orderForm.controls['customerId'].touched" class="text-red-600">Customer is required.</div>

          <div formArrayName="orderProducts" class="col-span-full">
            <div *ngFor="let orderProduct of orderProducts.controls; let i=index" [formGroupName]="i" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
              <select formControlName="productId" required class="p-2 border rounded w-full">
                <option value="" disabled>Select Product</option>
                <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
              </select>
              <div *ngIf="orderProduct.get('productId')?.invalid && orderProduct.get('productId')?.touched" class="text-red-600">Product is required.</div>

              <input formControlName="quantity" type="number" placeholder="Quantity" required class="p-2 border rounded w-full">
              <div *ngIf="orderProduct.get('quantity')?.invalid && orderProduct.get('quantity')?.touched" class="text-red-600">Quantity is required and must be greater than 0.</div>

              <button type="button" (click)="removeOrderProduct(i)" class="bg-red-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-red-600">Remove</button>
            </div>
            <button type="button" (click)="addOrderProduct()" class="bg-green-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-green-600">Add Product</button>
          </div>

          <input formControlName="orderDate" type="date" placeholder="Date" required class="p-2 border rounded w-full">
          <div *ngIf="orderForm.controls['orderDate'].invalid && orderForm.controls['orderDate'].touched" class="text-red-600">Date is required.</div>

          <input formControlName="status" placeholder="Status" required class="p-2 border rounded w-full">
          <div *ngIf="orderForm.controls['status'].invalid && orderForm.controls['status'].touched" class="text-red-600">Status is required.</div>
        </div>
        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-green-600">Create Order</button>
      </form>
    </div>

    <div class="overflow-x-auto flex-grow">
      <table class="min-w-full bg-white">
        <thead>
        <tr>
          <th class="py-2 px-6 border-b border-gray-200">Customer</th>
          <th class="py-2 px-6 border-b border-gray-200">Products</th>
          <th class="py-2 px-6 border-b border-gray-200">Order Date</th>
          <th class="py-2 px-6 border-b border-gray-200">Status</th>
          <th class="py-2 px-6 border-b border-gray-200">Total Price</th>
          <th class="py-2 px-6 border-b border-gray-200">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
          <td class="py-2 px-6 border-b border-gray-200">{{ order.customer?.firstName }} {{ order.customer?.lastName }}</td>
          <td class="py-2 px-6 border-b border-gray-200">
            <ul>
              <li *ngFor="let op of order.orderProducts">{{ op.product?.name }} - Quantity: {{ op.quantity }}</li>
            </ul>
          </td>
          <td class="py-2 px-6 border-b border-gray-200">{{ order.orderDate }}</td>
          <td class="py-2 px-6 border-b border-gray-200">{{ order.status }}</td>
          <td class="py-2 px-6 border-b border-gray-200">{{ order.totalPrice | currency }}</td>
          <td class="py-2 px-6 border-b border-gray-200">
            <button (click)="deleteOrder(order.id)" class="bg-red-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-red-600">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
