<div class="p-4 flex flex-col flex-grow">
  <div class="flex justify-between mb-4">
    <div class="flex gap-4">
      <button class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
              (click)="filterLogs('all')">All Logs</button>
      <button class="px-4 py-2 text-white bg-green-500 rounded hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
              (click)="filterLogs('success')">Successful Logs</button>
      <button class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50"
              (click)="filterLogs('failed')">Failed Logs</button>
    </div>
    <input type="text" placeholder="Search by email" class="px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
           [(ngModel)]="searchQuery" (input)="searchLogs()">
  </div>
  <ul *ngIf="!isLoading && userLogs.length; else loadingOrEmptyTemplate" class="bg-white shadow overflow-hidden rounded-md">
    <li *ngFor="let log of filteredLogs" class="px-6 py-4 border-b border-gray-200 flex items-center">
      <span *ngIf="log.details !== 'Login successful'" class="text-red-500 mr-2">
        <i class="fas fa-times-circle"></i>
      </span>
      <span *ngIf="log.details === 'Login successful'" class="text-green-500 mr-2">
        <i class="fas fa-check-circle"></i>
      </span>
      {{ log.email }} - {{ log.details }} - {{ log.loginTime | date:'medium' }}
    </li>
  </ul>

  <ng-template #loadingOrEmptyTemplate>
    <p *ngIf="isLoading; else noLogsTemplate">Loading...</p>
    <ng-template #noLogsTemplate>
      <p>No logs available.</p>
    </ng-template>
  </ng-template>
</div>
