<div class="p-4 flex flex-col flex-grow">
  <div class="p-4 rounded-lg dark:border-gray-700">
    <h2 class="text-2xl font-semibold text-gray-700 mb-4">Settings</h2>
    <div class="bg-white rounded-lg shadow-md p-6 mb-4">
      <h3 class="text-xl font-semibold text-gray-700 mb-2">Profile Settings</h3>
      <div *ngIf="!isEditable">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
          <input [value]="user.firstname" type="text" class="p-2 border rounded" disabled>
          <input [value]="user.lastname" type="text" class="p-2 border rounded" disabled>
          <input [value]="user.email" type="email" class="p-2 border rounded" disabled>
        </div>
        <button (click)="toggleEdit()" class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-700">
          Modify Your Details
        </button>
      </div>
      <form *ngIf="isEditable" (ngSubmit)="saveProfile()">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
          <input [(ngModel)]="user.firstname" name="firstname" type="text" placeholder="First Name" class="p-2 border rounded">
          <input [(ngModel)]="user.lastname" name="lastname" type="text" placeholder="Last Name" class="p-2 border rounded">
          <input [(ngModel)]="user.email" name="email" type="email" placeholder="Email" class="p-2 border rounded" readonly>
        </div>
        <div class="flex justify-end gap-4">
          <button type="button" (click)="cancelEdit()" class="bg-gray-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-gray-700">Cancel</button>
          <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-700">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="bg-white rounded-lg shadow-md p-6">
  <h3 class="text-xl font-semibold text-gray-700 mb-2">Notification Settings</h3>
  <form>
    <div class="mb-4">
      <label class="block text-gray-700 mb-2">Email Notifications</label>
      <input type="checkbox" class="mr-2"> Enable Email Notifications
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 mb-2">SMS Notifications</label>
      <input type="checkbox" class="mr-2"> Enable SMS Notifications
    </div>
    <button class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-700" [disabled]="!isEditable">Save</button>
  </form>
</div>
